.ChatPage {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.ChatPage-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.ChatPage-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #666;
  font-size: 18px;
}

